@import '../globalconstants/colors.scss';

.nav-tabs-wrapper {
    height: clamp(10em, 2vh, 20em);
    width: clamp(10em, 2vh, 20em);
    background-color: $light-blue;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: $dark-blue;
    position: relative;
    z-index: 0;

    .nav-tabs-active {
        color: white;
        z-index: 1;
    }

    .active-tabs-overlay {
        position: absolute;
        background-color: $dark-blue;
        height: clamp(3em, 1vh, 5em);
        width: clamp(9em, 2vh, 20em);
        right: 0.5em;
        border-radius: 1em;
        z-index: -1;
    }

    .active-tabs-module {
        top: 0.7em;
    }

    .active-tabs-contribute {
        top: 3.5em;
    }

    .active-tabs-settings {
        top: 6.45em;
    }
    
    .tabs-title {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}