@import '../globalconstants/colors';

.module-filter-container {
    margin: 5em 5em 5em 5em;
    
    .title-container {
        background-color: $dark-blue;
        display: flex;
        color: white;
        border-radius: 1.5em 1.5em 0 0;
        padding: 0.65em 0.8em 0.85em 0.8em;
        align-items: center;

        .title {
            font-weight: 600;
            margin: 0.1em 1em;
            width: 7em;
        }

        .clear-selection {
            font-size: 0.95rem;
            font-weight: 300;
            cursor: pointer;
            margin-right: 0.5em;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .filter-options-container {
        background-color: $light-blue;
        padding-bottom: 1em;
        border-radius: 0 0 1.5em 1.5em;

        .filter-options-wrapper {
            font-size: 0.95rem;
            cursor: pointer;
            
            &:hover {
                color: $hover-red;
            }

            .filter-options-description {
                padding-left: 0.5em;
            }
        }

        .filter-options-header {
            font-weight: 600;
            padding-top: 0.8em;
            padding-bottom: 0.3em;
        }

        .dropdown-select {
            background-color: $light-blue;
            outline: none;
            border: none;
            border-bottom: 1px solid $dark-grey;
            padding: 0.3rem 0;
        }
    }
}