@import '../globalconstants/colors';

.pagination-content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.pagination-bar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    .page-number {
        padding: 0.25em 0.638em;
        color: $dark-blue;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        margin: 1em;
    }

    .page-number.active {
        background-color: $dark-blue;
        color: white;
        border-radius: 50%;
    }

    button {
        background-color: transparent;
        border: none;
        color: $dark-blue;
        font-size: 1.5rem;
        cursor: pointer;

        .double-chevron {
            margin-top: 0.5rem;
            width: 1.25rem;
            height: 1.25rem;
        }

        .single-chevron {
            margin-top: 0.25rem;
            width: 0.85rem;
            height: 0.85rem;
        }

        .left-chevron {
            transform: scaleX(-1);
        }
    }

    .no-display {
        display: none;
    }
}