* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Media Queries */
.navbar {
  background-color: #EBECFE;
  height: 10vh;
  width: 100%;
  display: flex;
  color: #181C62;
  align-items: center;
}
.navbar .logo {
  display: flex;
  flex: 25%;
  justify-content: center;
  text-decoration: none;
  color: #181C62;
  margin: 0 0.25em;
}
.navbar .logo .logoImg {
  height: 50px;
  width: auto;
}
.navbar .searchbar {
  display: flex;
  justify-content: left;
  flex: 55%;
}
@media (only max-width: 667px) {
  .navbar .searchbar {
    display: none;
  }
}
.navbar .academic-period {
  white-space: pre-line;
  display: flex;
  justify-content: center;
  flex: 20%;
  font-size: clamp(0.5rem, 2.5vw, 0.75rem);
  font-weight: 600;
}
