/* Error: expected no more input.
 *    ,
 * 25 |     @media only (max-width: 667px){
 *    |                 ^
 *    '
 *   src\styles\globalconstants\layout.scss 25:17  for-breakpoint()
 *   src\styles\layout\navbar.scss 23:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected no more input.\a    \2577 \a 25 \2502      @media only (max-width: 667px){\d\a    \2502                  ^\a    \2575 \a   src\\styles\\globalconstants\\layout.scss 25:17  for-breakpoint()\a   src\\styles\\layout\\navbar.scss 23:9            root stylesheet";
}
