.nav-tabs-container {
  position: sticky;
  top: 0;
  margin-left: 5em;
  padding-top: 2em;
}
.nav-tabs-container .nav-tabs-wrapper {
  height: clamp(10em, 2vh, 20em);
  width: clamp(10em, 2vh, 20em);
  background-color: #EBECFE;
  border-radius: 1.5em;
  font-weight: bold;
  color: #181C62;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 0;
}
.nav-tabs-container .nav-tabs-wrapper .nav-tabs-li {
  list-style-type: none;
}
.nav-tabs-container .nav-tabs-wrapper .nav-tabs-li .active-tabs-overlay {
  background-color: #181C62;
  padding: 0.75em 2em;
  border-radius: 1em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-tabs-container .nav-tabs-wrapper .nav-tabs-li .module-active-tabs-overlay {
  padding: 0.75em 1.25em;
}
.nav-tabs-container .nav-tabs-wrapper .nav-tabs-li .tabs-title {
  cursor: pointer;
}
.nav-tabs-container .nav-tabs-wrapper .nav-tabs-li .tabs-title:hover {
  text-decoration: underline;
}
.nav-tabs-container .module-nav-tabs {
  height: clamp(12em, 4vh, 20em);
  width: clamp(12em, 4vh, 20em);
}
