.Pagination-bar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Pagination-bar .page-number {
  padding: 0.25em 0.638em;
  color: #181C62;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  margin: 1em;
}
.Pagination-bar .page-number.active {
  background-color: #181C62;
  color: white;
  border-radius: 50%;
}
.Pagination-bar button {
  background-color: transparent;
  border: none;
  color: #181C62;
  font-size: 1.5rem;
  cursor: pointer;
}
.Pagination-bar button .double-chevron {
  margin-top: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.Pagination-bar button .single-chevron {
  margin-top: 0.25rem;
  width: 1rem;
  height: 1rem;
}
.Pagination-bar button .left-chevron {
  transform: scaleX(-1);
}
