.page-container {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .content-wrapper {
        flex: 1;
        padding-bottom: 3rem;
        min-height: 100vh;

        .main-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 0.5em;

            .nav-tabs {
                display: flex;
                justify-content: center;
                flex: 1 1 25%;
                width: 100%;
            }

            .main-content {
                flex: 1 1 75%;
                width: 100%;
            }
        }
    }
}

