.page-container {
    display: flex;
    flex-direction: column;

    .content-wrapper {
        flex: 1;
        padding-bottom: 3rem;
        min-height: 100vh;

        .main-wrapper {
            display: flex;
            
            .navigation-tabs {
                flex: 0 0 clamp(5em, 13vw, 11em);
                
            }
        }

    }
}

