$light-blue: #EBECFE;
$light-grey: #69707A;
$dark-blue: #181C62;
$dark-grey: #393939;
$hover-red: #d83333;
$hover-blue: #3856b8;

$warning: #e2d7456b;
$warning-border: #e2b045d7;
$warning-text: #965c06;