@charset "UTF-8";
.Module-card-container {
  display: flex;
  white-space: pre-line;
  flex-wrap: wrap;
}
.Module-card-container .module-card-left-container {
  font-size: clamp(0.85rem, 1.6vh, 1.5rem);
}
.Module-card-container .module-card-left-container .title-container {
  color: #181C62;
  font-weight: bold;
  font-size: clamp(1rem, 2vh, 2rem);
  margin: 0.4em 0;
}
.Module-card-container .module-card-left-container .course-credit-container {
  color: #69707A;
  font-weight: 500;
  margin: 0.4em 0;
}
.Module-card-container .module-card-left-container .category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 0.8em;
  margin: 0.5em 0;
}
.Module-card-container .module-card-left-container .category-container .category-wrapper {
  background-color: #EBECFE;
  border-radius: 0.25em;
  font-weight: 700;
  color: #181C62;
  padding: 0.1em 0.3em;
}
.Module-card-container .module-card-left-container .description-container {
  margin: 1em 0;
  color: #69707A;
}
.Module-card-container .module-card-left-container .additional-info-container {
  margin: 1em 0;
  color: #69707A;
}
.Module-card-container .module-card-right-container {
  flex: 20%;
  font-size: clamp(0.85rem, 1.6vh, 1.5rem);
  color: #69707A;
  margin: auto;
}
.Module-card-container .module-card-right-container .exam-container {
  margin: 1rem 0;
}
.Module-card-container .module-card-right-container .workload-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.Module-card-container .module-card-right-container .workload-container ul li {
  position: relative;
  padding-left: 1.25em;
}
.Module-card-container .module-card-right-container .workload-container ul li:before {
  padding-left: 0.5em;
  content: "•";
  position: absolute;
  left: 0;
}
