.module-req-container {
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.module-req-container .req-col-header {
  display: flex;
  color: #69707A;
  font-weight: 600;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.3em;
}
.module-req-container .module-req-list {
  list-style-type: none;
  font-size: 1.25rem;
  margin: 0.3em 0;
  padding: 0.2em 0;
  font-weight: bold;
  color: #181C62;
}
.module-req-container .module-req-list .module-req-link {
  text-decoration: none;
  color: #181C62;
}
.module-req-container .module-req-list .module-req-link:hover {
  color: #3856b8;
}
.module-req-container .current-mod-content {
  cursor: default;
  font-size: 1.25rem;
  color: white;
  background-color: #181C62;
  margin: 0.3em 0;
  padding: 0.2em 0;
  border-radius: 7px;
  font-weight: bold;
  text-decoration: none;
}

.module-req-disclaimer {
  background-color: #e2d7456b;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid #e2b045d7;
  color: #965c06;
}
