.module-filter-container {
  margin: 1em 5em 1em 5em;
}
.module-filter-container .title-container {
  background-color: #181C62;
  display: flex;
  color: white;
  border-radius: 1.5em 1.5em 0 0;
  padding: 0.65em 0.8em 0.85em 0.8em;
  align-items: center;
  justify-content: space-around;
}
.module-filter-container .title-container .title {
  font-weight: 600;
  margin: 0.1em 1em;
  width: 7em;
}
.module-filter-container .title-container .clear-selection {
  font-size: 0.95rem;
  font-weight: 300;
  cursor: pointer;
  margin-right: 0.5em;
}
.module-filter-container .title-container .clear-selection:hover {
  text-decoration: underline;
}
.module-filter-container .filter-options-container {
  background-color: #EBECFE;
  padding-bottom: 1em;
  width: min(300px, 35vw);
  border-radius: 0 0 1.5em 1.5em;
}
.module-filter-container .filter-options-container .filter-options-wrapper {
  font-size: 0.95rem;
  cursor: pointer;
}
.module-filter-container .filter-options-container .filter-options-wrapper:hover {
  color: #d83333;
}
.module-filter-container .filter-options-container .filter-options-wrapper .filter-options-description {
  padding-left: 0.5em;
}
.module-filter-container .filter-options-container .filter-options-header {
  font-weight: 600;
  padding-top: 0.6em;
  padding-bottom: 0.1em;
}
.module-filter-container .filter-options-container .dropdown-select {
  background-color: #EBECFE;
  outline: none;
  border: none;
  border-bottom: 1px solid #393939;
  padding: 0.3rem 0;
}
