.module-filter_container {
  margin: 5em 5em 5em 5em;
}
.module-filter_container .title_container {
  background-color: #181C62;
  display: flex;
  color: white;
  border-radius: 1.5em 1.5em 0 0;
  padding: 0.65em 0.8em 0.85em 0.8em;
  align-items: center;
}
.module-filter_container .title_container .title {
  font-weight: 600;
  margin: 0.1em 1em;
  width: 7em;
}
.module-filter_container .title_container .clear-selection {
  font-size: 0.95rem;
  font-weight: 300;
  cursor: pointer;
  margin-right: 0.5em;
}
.module-filter_container .filter-options_container {
  background-color: #EBECFE;
  padding-bottom: 1em;
  border-radius: 0 0 1.5em 1.5em;
}
.module-filter_container .filter-options_container .filter-options-description {
  padding-left: 0.5em;
  font-size: 0.95rem;
  cursor: pointer;
}
.module-filter_container .filter-options_container .filter-options-description:hover {
  color: #d83333;
}
.module-filter_container .filter-options_container .filter-options_header {
  font-weight: 600;
  padding-top: 0.8em;
  padding-bottom: 0.3em;
}
